/* =========================================
   ESTILOS GERAIS DO PROJETO
   ========================================= */

   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    background-color: #eef2f5;
    color: #333;
    text-align: center;
    min-height: 100vh;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px; /* Espaço para o rodapé fixo */
  }
  
  /* =========================================
     BANNER SENAI
     ========================================= */
  
  .banner-senai {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  }
  
  /* =========================================
     HEADER
     ========================================= */
  
  header {
    width: 100%;
    background: linear-gradient(90deg, #005b96, #0072bb);
    color: rgb(255, 255, 255);
    padding: 25px 0;
    font-size: 1.7em;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  }
  


  
  /* =========================================
     CONTEÚDO PRINCIPAL
     ========================================= */
  
 
  h1 {
    color: #005b96;
    margin-bottom: 20px;
    font-size: 2em;
    letter-spacing: 0.5px;
  }
  
  p {
    color: #444;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  

  
  
  